torch>=1.7.0
tqdm
tabulate
numpy
scipy
sklearn
confclass
typing_extensions
notify_run

--find-links https://pytorch-geometric.com/whl/torch-1.7.0+cu102.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

dgl
scikit-learn
